body{
    
   background-color: white;

}
#tabela{
    background-color: aliceblue;
    margin-top: 40px;
    /* margin-left: 50px;
    margin-right: 50px; */
}

#tabela-main {
    padding: 32px;
}
#sair{
    
}